<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Occasion Tracker</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
  <h1 data-position="header">Occasion and Gift Tracker</h1>
  <section data-position="add-occasion-info">
    <h2>Add Occasion Info</h2>
    <p>Enter your occasion info. Example:
      Name, occaison, gift, and date gift provided. </p>

    <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="occasion" name="occasion" />
      <input type="text" placeholder="gift" name="gift" />
      <input type="date" placeholder="date" name="date" />
      <button type="submit">Submit</button>
    </form>
  </section>

  <section data-position="update-quote">
      <h2>Update Occasion Info </h2>
      <p>Choose the appropriate record to update</p>
      <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name" required/>
        <input type="text" placeholder="occasion" name="occasion" />
        <button type="submit">Submit</button>
      </form>
    </section>

   <section data-position="delete-quote">
      <div>
        <h2>Remove Occasion Info</h2>
        <p>Does nothing if there is no infromation to delete.</p>
        <form action="/" method="DELETE">
        <input type="text" name="deletename" required/>
        <button id="delete-button">Delete</button>
      </form>
      </div>
      <div id="message"></div>
    </section>

    <section data-position="quotes">
      <h2>Occasion info to Remember</h2>
    <ol class="quotes">
      <% for(var i=0; i < quotes.length; i++) {%>
        <li class="quote">
          <span><%= quotes[i].name %> </span>:
          <span><%= quotes[i].occasion %> </span>
          <span><%= quotes[i].gift %> </span>
          <span><%= quotes[i].date %> </span>
        </li>
        <% } %>
    </ol>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
  <script src="/main.js"></script>
</body>
</html>

